/* APP BEGIN  */
:root {
  --color1: #a6122d;
  --color2: #d91a3d;
  --color3: #bf1151;
  --color4: #bf8275;
  --color5: #260101;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
/* APP */

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  margin: 10px;
  max-width: 100vmin;
  min-width: 100vmin;
  /* min-height: 20px; */
  display: grid;
  border: 0px;
  border-radius: 3vmin;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
}

.accordion:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  /* transform: scale(1.01); */
}

.accordion-title {
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.accordion-content {
  margin: auto;
  padding: 10px;
  border-radius: 4vmin;
  min-height: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.2s;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion-text {
  font-weight: 400;
  padding: 18px;
}

/* ACCORDION END */

/* NEW RULES */

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 100vmin;
  min-height: 150px;
  flex-wrap: wrap;
  border-radius: 3vmin;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.container:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.card {
  min-height: 100px;
  margin: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
  padding: 4vmin;
  border-radius: 3vmin;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  max-width: 100vmin;
}
.other-posts {
  margin: 1vmin;
  padding: 4vmin;
  border-radius: 3vmin;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  max-width: 40vmin;
  min-width: 38vmin;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.float-left {
  float: left;
}

.text-justify {
  text-align: justify;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 15vmin;
}

.header-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-pad {
  padding: 10px;
}
.flex-1 {
  flex: 1;
}
.post-margin {
  margin: 40px 40px 40px 40px;
}
/* NEWRULES END */

/* COLORS */
.color1 {
  background-color: var(--color1);
}
.color2 {
  background-color: var(--color2);
}
.color3 {
  background-color: var(--color3);
}
.color4 {
  background-color: var(--color4);
}
.color5 {
  background-color: var(--color5);
}
/* COLORS END */
